.movie-list-container {
    display: flex;
    flex-direction: column;
}

.movie-header {
    display: flex;
    justify-content: space-between;
}

.filter-input {
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.list {
    display: flex;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.add-button {
    width: 12.5rem;
    margin-top: 0.5rem;
    background: skyblue;
    border-radius: 2.188rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.add-button:hover {
    border: 0.15rem solid black;
    background: white;
    color: black;
    cursor: pointer;
}

.no-movies-message {
    padding: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
